@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
}

html,
body,
#app {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}
